@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root{
    --gray1: #141517;
    --gray2: #5E5E67;
    --gray3: #A9A9B5;
    --gray4: #E8E8E8;
    --gray5: #F3F3F3;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Pretendard;
    letter-spacing: -0.01em;
    
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.2;
}

h1{
    font-size: 24px;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 18px;
}

h5{
    font-size: 16px;
}

h6{
    font-size: 14px;
}
p.explain_text{
    font-size: 16px;
    line-height: 1.2;
}


p.main_text{
    font-size: 14px;
    line-height: 
}
